.note__card {
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  position: relative;
}

.pin {
  position: absolute;
  top: 0;
  right: 0;
}

.note__header h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--dark-color);
}

.note__header p {
  font-size: 1.6rem;
  color: var(--dark-color);
}
