.note__card {
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding-bottom: 52px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  display: block;
  height: 100%;
  background: var(--white-color);
  transition: box-shadow 0.2s ease-in-out;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -ms-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  box-shadow: transparent 0px 8px 24px;
  -webkit-box-shadow: tranparent 0px 8px 24px;
  outline: none;
}

.image {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  height: auto;
}

.image img {
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.note__card:hover,
.note__card:focus,
.note__card:focus-within {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.note__card svg {
  fill: var(--gray-color);
}

.pin {
  position: absolute;
  top: 10px;
  right: 8px;
}

.select {
  position: absolute;
  top: -14px;
  left: -14px;
  outline: none;
  cursor: pointer;
}

.select svg {
  fill: var(--dark-color);
}

.pin,
.icons__set,
.select {
  transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -webkit-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -moz-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -ms-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -o-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.note__card:hover .pin,
.note__card:focus-within .pin,
.note__card:focus .pin,
.note__card:hover .icons__set,
.note__card:focus-within .icons__set,
.note__card:focus .icons__set,
.note__card:hover .select,
.note__card:focus-within .select,
.note__card:focus .select {
  opacity: 1;
  visibility: visible;
}

.note__header h3 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--dark-color);
  width: 100%;
  max-width: 200px;
}

.icons__set {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  background: var(--white-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.note__header p {
  font-size: 1.6rem;
  color: var(--dark-color);
}

.color__options {
  position: relative;
}

.drop {
  position: absolute;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
  transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -webkit-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -moz-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -ms-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -o-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.color__options:hover .drop,
.color__options:focus-within .drop,
.color__options:focus .drop {
  visibility: visible;
  opacity: 1;
}
