.icon__element {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  outline: none;
  position: relative;
}

.icon__element:hover,
.icon__element:focus-within {
  background-color: var(--light-gray-color);
}

.icon__element.dark {
  width: 42px;
  height: 42px;
}

.icon__element.small {
  width: 36px;
  height: 36px;
}

.icon__element.dark:hover,
.icon__element.dark:focus-within {
  background-color: var(--border-color);
}

.tooltip {
  position: absolute;
  top: 100%;
  width: fit-content;
  opacity: 0;
  z-index: 99;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

.icon__element:hover .tooltip,
.icon__element:focus-within .tooltip,
.icon__element:focus .tooltip {
  opacity: 1;
  visibility: visible;
}

.icon__element .tooltip.center {
  left: 50% !important;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.icon__element .tooltip.left {
  left: 0 !important;
}

.icon__element .tooltip.right {
  right: 0 !important;
}

.icon__element svg {
  fill: var(--gray-color);
  transition: fill 0.2s ease-in-out;
  -webkit-transition: fill 0.2s ease-in-out;
  -moz-transition: fill 0.2s ease-in-out;
  -ms-transition: fill 0.2s ease-in-out;
  -o-transition: fill 0.2s ease-in-out;
}

.icon__element:hover svg,
.icon__element:focus-within svg,
.icon__element:focus svg {
  fill: var(--dark-color);
}
