.navbar {
  padding: 5px 24px;
  border-bottom: 1px solid var(--border-color);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: var(--white-color);
  height: 65px;
}

.left__logo {
  width: calc(280px - 24px);
}

.logo {
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid transparent;
}

.logo:focus,
.logo:focus-within {
  outline: none;
  border: 1px solid var(--border-color);
}

.logo svg {
  width: 30px;
  height: calc(119px - 66px);
}

.icon svg:nth-child(1),
.icons__group svg {
  fill: var(--gray-color);
}

.logo h2 {
  font-size: 2.2rem;
  color: var(--gray-color);
  font-weight: 500;
}

.profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 4px;
  outline: none;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.profile:hover,
.profile:focus-within,
.profile:focus {
  background: var(--light-gray-color);
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
