.editor {
  padding-bottom: 6px;
}

.image {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  height: auto;
}

.image img {
  object-fit: cover;
  -o-object-fit: cover;
  object-position: center;
  -o-object-position: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pre__view input,
.editor input {
  font-size: 1.6rem;
  color: var(--dark-color);
  border: none;
  outline: none;
  font-weight: 500;
  width: 100%;
  background: transparent !important;
}

.editor > input {
  font-size: 1.4rem;
}

.pre__view svg,
.bottom__actions svg {
  fill: var(--gray-color);
}

.bottom__actions {
  margin-top: 16px;
  margin-left: -8px;
}

.bottom__actions .button button {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 24px;
  background-color: transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  outline: none;
  border: none;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.bottom__actions button:hover,
.bottom__actions button:focus,
.bottom__actions button:focus-within {
  background-color: var(--light-gray-color);
}

.color__options {
  position: relative;
}

.drop {
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 9999;
  opacity: 0;
  transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -webkit-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -moz-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -ms-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  -o-transition:
    visibility 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

.color__options:hover .drop,
.color__options:focus-within .drop,
.color__options:focus .drop {
  visibility: visible;
  opacity: 1;
}

.upload {
  position: relative;
  width: fit-content;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  cursor: pointer;
}

.upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
