.actual__link {
  padding: 12px 20px;
  padding-left: 36px;
  font-size: 1.6rem;
  color: var(--gray-color);
  text-decoration: none;
  width: 100%;
  background-color: var(--white-color);
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -webkit-transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -moz-transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -ms-transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  -o-transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  outline: none;
}

.actual__link svg {
  fill: var(--gray-color);
}

.actual__link:hover {
  background-color: var(--light-gray-color);
  color: var(--dark-color);
}

.actual__link:focus,
.actual__link.active {
  background-color: rgba(251, 188, 4, 0.3);
  color: var(--dark-color);
}

.actual__link span {
  font-weight: 500;
  transition: font-weight 0.2s ease-in-out;
  -webkit-transition: font-weight 0.2s ease-in-out;
  -moz-transition: font-weight 0.2s ease-in-out;
  -ms-transition: font-weight 0.2s ease-in-out;
  -o-transition: font-weight 0.2s ease-in-out;
  width: 100%;
}

.actual__link .count {
  font-size: 1rem;
  width: 15px;
  height: 15px;
  color: var(--white-color);
  background: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.actual__link:focus span,
.actual__link.active span {
  font-weight: 600;
}

.actual__link.active svg,
.actual__link:hover svg,
.actual__link:focus svg {
  fill: var(--dark-color);
}

.hidden {
  display: none;
}
