.sidebar {
  height: 100vh;
  width: fit-content;
  padding-top: 72px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.sidebar.active {
  width: 280px;
}
